body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#status {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

#game-board {
    display: grid;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.square.active {
    background-color: #353535;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}
